<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <link th:href="@{/plugins/bootstrap-3.3.0/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/waves-0.7.5/waves.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/jquery-confirm/jquery-confirm.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}"
          rel="stylesheet"/>
    <link th:href="@{/plugins/jquery-confirm/jquery-confirm.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/select2/css/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/select2/theme/select2-bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/zTree_v3/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet"/>
    <link th:href="@{/plugins/bootstrapValidator-0.4.5/css/bootstrapValidator.css}"
          rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
</head>

<div th:fragment="footer">
    <script th:src="@{/plugins/jquery.1.12.4.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-3.3.0/js/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/plugins/waves-0.7.5/waves.min.js}"></script>
    <script th:src="@{/plugins/jquery-confirm/jquery-confirm.min.js}"></script>
    <script th:src="@{/plugins/select2/js/select2.min.js}"></script>
    <script th:src="@{/plugins/zTree_v3/js/jquery.ztree.all.min.js}"></script>
    <script th:src="@{/plugins/bootstrapValidator-0.4.5/js/bootstrapValidator.js}"></script>
    <script th:src="@{/js/common.js}"></script>
</div>

</html>