# Created by .ignore support plugin (hsz.mobi)
### Java templates
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gitignore
.idea/
*.iml
dobi-cms/cms-admin/target/
dobi-cms/cms-book/target/
/commonservice/configServer/target/
/commonservice/eureka/target/
/commonservice/gateway-server/target/
/demo/authc-client/target/
/demo/authc-server/target/
/demo/config-client/target/
/demo/oauth-client/target/
/demo/oauth-server/target/
demo/authc-client/src/test/
demo/config-client/src/test/
demo/oauth-client/src/test/
demo/oauth-server/src/test/
dobi-cms/cms-admin/src/main/resources/templates/manage/book/
dobi-cms/cms-admin/src/main/resources/templates/manage/permission/
dobi-cms/cms-book/src/test/
dobi-frontend/bookHouse/src/main/java/com/xjp/bookhouse/util/
dobi-frontend/bookHouse/src/test/
dobi-frontend/bookHouse/target/
commonservice/configServer/src/main/webapp/
commonservice/configServer/src/test/
commonservice/eureka/src/test/
commonservice/gateway-server/src/test/
!/dobi.iml
!/.gitignore
